.container {
  background-image: url("https://512pixels.net/downloads/macos-wallpapers/10-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%; /* Ensure the container takes up full height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent vertical scrolling within the container */
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
